:root {
  --primary-color: var(--p-primary-color);
  --primary-contrast-color: var(--p-primary-contrast-color);
  --warn-color: var(--p-orange-500);
  --warn-color-muted: var(--p-orange-400);
  --danger-color: var(--p-red-500);
  --danger-color-muted: var(--p-red-400);
  --text-color: var(--p-text-color);
  --text-color-secondary: var(--p-text-muted-color);
  --surface-0: var(--p-surface-0);
  --surface-100: var(--p-surface-100);
  --surface-200: var(--p-surface-200);
  --surface-300: var(--p-surface-300);
  --surface-800: var(--p-surface-800);
  --surface-900: var(--p-surface-900);
  --surface-950: var(--p-surface-950);
  --surface-border: var(--p-content-border-color);
  --surface-card: var(--p-content-background);
  --surface-hover: var(--p-content-hover-background);
  --surface-overlay: var(--p-overlay-popover-background);
  --transition-duration: var(--p-transition-duration);
  --maskbg: var(--p-mask-background);
  --content-border-radius: var(--p-content-border-radius);
  --layout-section-transition-duration: 0.2s;
  --element-transition-duration: var(--p-transition-duration);
  --focus-ring-width: var(--p-focus-ring-width);
  --focus-ring-style: var(--p-focus-ring-style);
  --focus-ring-color: var(--p-focus-ring-color);
  --focus-ring-offset: var(--p-focus-ring-offset);
  --focus-ring-shadow: var(--p-focus-ring-shadow);
}
